.displayMenu {
    display: none;
    transition: 5s;
}

.lineContainer {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 50px;
    justify-content: center;
    margin-left: calc(100% - 50px);
    transition: 0.1s;
    width: 50px;
}

.lineContainer span {
    height: 6px;
    background-color: #ffffff;
    border-radius: 2px;
    width: 40px;
}

.lineContainer:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1050px) {
    .displayMenu {
        display: block;
    }
}