.bannerContainer {
    background-image: url(../../assets/img/waterfall.png);
    background-size: 100% 100%;
    height: auto;
    width: 100%;
}

.shadowImage {
    background-image: url(../../assets/img/blur.png);
    box-sizing: border-box;
    height: auto;
    padding: 1.313rem 6.8% 12% 6.8%;
    width: 100%;
}