.bannerContainer {
    background-image: url(../../assets/img/waterfall.png);
    background-size: 100% 100%;
    height: 48rem;
    width: 100%;
}

.shadowImage {
    background-image: url(../../assets/img/blur.png);
    box-sizing: border-box;
    height: 48rem;
    padding: 1.313rem 5.813rem 0 5.813rem;
    width: 100%;
}