.sharedPhotosContainer {
    padding: 0 6.8%;
}

.photosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
    margin: 2.25rem 0 4.75rem 0;
}

.photosContainer img {
    width: 32.18%;
}

@media screen and (min-width:401px) and (max-width: 600px) {
    .photosContainer img {
        width: 70%;
    }
}

@media screen and (max-width:400px) {
    .photosContainer img {
        width: 90%;
    }
}