:root {
    --mainFont: 'Clicker Script', cursive;
    --secundaryFont: 'Work Sans', sans-serif;
    --thirdFont: 'Water Brush', cursive;
}

.App {
    text-align: center;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-x: hidden !important;
}
  