.reviewContainer {
    padding: 0 6.8%;
}

.reviewContainer h2 {
    color: #CD1A40;
    font-family: var(--thirdFont);
    font-size: 2.875rem;
    font-weight: 400;
    line-height: 4.169rem;
    margin-bottom: 1.125rem;
    margin-top: 4.75rem;
}

.reviewContainer h3 {
    color: #1E1E1E;
    font-family: var(--secundaryFont);
    font-size: 4rem;
    font-weight: 200;
    line-height: 4.692rem;
    margin-bottom: 1.125rem;
    text-transform: uppercase;
}

.reviewContainerP {
    color: #1E1E1E;
    font-family: var(--secundaryFont);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin: 0 auto 2.25rem auto;
    margin-bottom: 2.25rem;
    width: 68%;
}

.commentContainer {
    background: linear-gradient(90deg, #CD1A40 -11%, #FF803C 109.5%);;
    clip-path: polygon(0% 0%, 0% 90%, 56% 90%, 56% 100%, 58% 90%, 100% 90%, 100% 0%);
    padding: 2.375rem 2.375rem 2.938rem 2.375rem;
    margin: 0 auto;
    width: 85%;
}

.commentContainerP{
    color: #ffffff;
    font-family: var(--secundaryFont);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.picturesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2.25rem;
    justify-content: center;
    margin: 1.125rem 0 0 0;
    position: relative;
}

.picturesContainer::before {
    content: '"';
    font-family: 'Rampart One', cursive;
    font-size: 12.5rem;
    font-weight: bold;
    left: 7.875rem;
    position: absolute;
    top: -18rem;
}

.picturesContainer img {
    height: 3.125rem;
    width: 3.125rem;
}

.pictureFourContainer {
    align-items: center;
    display: flex;
}

.picFourDetails {
    align-items: flex-start;
    column-gap: 0.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.25rem;
}

.picFourDetailsName {
    color: #1E1E1E;
    font-family: var(--secundaryFont);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.759rem;
}

.picFourDetailsPlace {
    color: #1E1E1E;
    font-family: var(--secundaryFont);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
}

@media screen and (max-width: 1206px) {
    .picturesContainer::before {
        display: none;
    }
}

@media screen and (max-width: 602px) {
    .commentContainer {
        clip-path: none;
    }
}