.activityContainer {
    display: flex;
    flex-direction: column;
    margin: 4.75rem 0 4.75rem 0;
    padding: 0 6.8%;
    width: 100%;
}

.cardContainer {
    column-gap: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2.25rem;
    row-gap: 2.25rem;
}

.cardContainer:first-child {
    background: linear-gradient(90deg, #CD1A40 -11%, #FF803C 109.5%);
    color: #ffffff;
}