.destinationContainer {
    display: flex;
    flex-direction: column;
    margin-top: 4.75rem;
    padding: 0 6.8%;
}

.destinationContainer h4 {
    font-family: var(--thirdFont);
    font-size: 2.875rem;
    font-weight: 400;
    line-height: 4.169rem;
}

.destinationContainer Button {
    font-weight: 500;
}

.imageContainer {
    color: #fff;
    column-gap: 1.25rem;
    display: grid;
    grid-template-areas: 
    'imageOne imageOne imageTwo imageThree'
    'imageOne imageOne imageFour imageFour'
    ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 39.125rem;
    margin-bottom: 3.438rem;
    row-gap: 0.875rem;
    width: 100%;
}

.imageOpacity {    
    align-items: center;
    background-color: rgba(30, 30, 30, 0.56);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    row-gap: .5rem;
    transition: .2s;
    width: 100%;
}

.imageOpacity:hover {
    background-color: rgba(30, 30, 30, 0.3);
}

.imageOne {
    background-image: url(../../assets/img/malaysia.png);
    background-position: no-repeat;
    grid-area: imageOne;
    height: 100%;
    width: 100%;
    
}

.imageTwo {
    background-image: url(../../assets/img/dubai.png);
    grid-area: imageTwo;
    height: 100%;
    width: 100%;
}

.imageThree {
    background-image: url(../../assets/img/greece.png);
    grid-area: imageThree;
    height: 100%;
    width: 100%;
}

.imageFour {
    background-image: url(../../assets/img/singapore.png);
    grid-area: imageFour;
    height: 100%;
    width: 100%;
}


@media screen and (min-width:501px) and (max-width: 700px) {
    .imageContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        height: auto;
        justify-content: center;
    }

    .imageOpacity {
        border-radius: 2rem;
        padding: 2rem;
    }

    .imageOne {
        background-position: center;
        border-radius: 2rem;
        height: 30%;
        width: 47%;
    }

    .imageTwo {
        background-position: center;
        border-radius: 2rem;
        height: 30%;
        width: 47%;
    }

    .imageThree {
        background-position: center;
        border-radius: 2rem;
        height: 30%;
        width: 47%;
    }

    .imageFour {
        background-position: center;
        border-radius: 2rem;
        height: 30%;
        width: 47%;
    }
}

@media screen and (max-width: 500px) {

    .imageContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        height: auto;
        justify-content: center;
    }

    .imageOpacity {
        border-radius: 2rem;
        padding: 2rem;
    }

    .imageOne {
        background-position: center;
        border-radius: 2rem;
        height: 30%;
        width: 80%;
    }

    .imageTwo {
        background-position: center;
        border-radius: 2rem;
        height: 30%;
        width: 80%;
    }

    .imageThree {
        background-position: center;
        border-radius: 2rem;
        height: 30%;
        width: 80%;
    }

    .imageFour {
        background-position: center;
        border-radius: 2rem;
        height: 30%;
        width: 80%;
    }
}