.button {
    background: linear-gradient(90deg, #CD1A40 -11%, #FF803C 109.5%);
    border: none;
    border-radius: 1.125rem;
    color: #fff;
    cursor: pointer;
    font-family: var(--secundaryFont);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.026rem;
    padding: 1.25rem;
    transition: .1s;
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);
}