.nav {
    position: absolute;
    top: 0;
    transition: 2s;
}

.menuContainerUl {
    align-items: center;
    background-color: rgba(0, 0, 0, .95);
    border-bottom-left-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    padding: 6rem 1rem;
    position: relative;
    width: 100vw;
}

.menuContainerUl li {
    color: #ffffff;
    cursor: pointer;
    font-family: var(--secundaryFont);
    font-size: 2rem;
    font-weight: 500;
}

.menuContainerUl li:hover {
    text-decoration: underline;
}
