.exploreContainer {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    margin-top: 8.875rem;
    text-align: left;
    width: 51%;
}

.exploreContainer h2 {
    font-family: var(--thirdFont);
    font-size: 2.875rem;
    font-weight: 400;
    line-height: 4.169rem;
    margin-bottom: 1rem;
}

.exploreContainer h3 {
    font-family: var(--secundaryFont);
    font-size: 5.375rem;
    font-weight: 700;
    line-height: 6.305rem;
    margin-bottom: 1rem;
}

.exploreContainer p {
    font-family: var(--secundaryFont);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 3rem;
}

/* Information */

.informationContainer {
    backdrop-filter: blur(5px);
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 1.75rem;
    /* column-gap: 3.75rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 1.375rem;
    width: 100%;
}

.locationAndDateContainer {
    align-items: center;
    column-gap: 3.75rem;
    display: flex;
    justify-content: center;
}

.iconMapContainer {
    align-items: center;
    column-gap: 1rem;
    display: flex;
    justify-content: center;
}

.pipe {
    border: 1px solid #fff;
    height: 0;
    transform: rotate(90deg);
    width: 2rem;
}

.iconCalendarContainer {
    align-items: center;
    column-gap: 1rem;
    display: flex;
    justify-content: center;
    width: 10.375rem;
}

.iconContainerH4 {
    font-family: var(--secundaryFont);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.iconContainerSpan {
    font-family: var(--secundaryFont);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.informationContainer button {
    align-items: center;
    background: linear-gradient(90deg, #CD1A40 -11%, #FF803C 109.5%);
    border: none;
    border-radius: 1.125rem;
    cursor: pointer;
    display: flex;
    height: 4.063rem;
    justify-content: center;
    transition: .05s;
    width: 4.063rem;
}

.informationContainer button:hover {
    transform: scale(1.05);
}

.informationContainer button:active {
    transform: scale(0.95);
}